Registro11.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Anotaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Asiento" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ciudadane" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="Madre" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="ID"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Padre" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="ID"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Nombre" minOccurs="0"/>
                    <xs:element type="xs:string" name="Apellidos" minOccurs="0"/>
                    <xs:element type="xs:string" name="FechaNacimiento" minOccurs="0"/>
                    <xs:element type="xs:string" name="Sexo" minOccurs="0"/>
                    <xs:element type="xs:string" name="PastaFavorita" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="ID" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="Matrimonio" minOccurs="0"/>
              <xs:element type="xs:string" name="Fecha" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="ID" use="optional"/>
            <xs:attribute type="xs:string" name="Tipo" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>